<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phones</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" href="./assets/img/VixFavicon.png">
        <link rel="stylesheet" href="./assets/CSS/carlos.css">
        <link rel="stylesheet" href="./assets/CSS/cards.css">

</head>

<body>
    <main class="main-phones" id="app" >
  
        <!-- nav -->
        <div id="contenedordelmenu" class="navbar navbar-dark navbar-expand-md contenedormenu justify-content-center" >
          <button class="navbar-toggler btnCards" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" @:click="expandirElMenu()" >
              Menu</button>
       <nav class="collapse navbar-collapse"  id="navbarSupportedContent">

          <a href="../index.html">

              <button class="boton-nav text-white">
                  <span>Home</span>
                  <div class="top"></div>
                  <div class="left"></div>
                  <div class="bottom"></div>
                  <div class="right"></div>
              </button>
          </a>
          <a href="#">
              <button class="boton-nav text-white">
                  <span>Phones</span>
                  <div class="top"></div>
                  <div class="left"></div>
                  <div class="bottom"></div>
                  <div class="right"></div>
              </button>
          </a>
<a href="./consolas.html">
          <button class="boton-nav text-white">
              <span>Consoles</span>
              <div class="top"></div>
              <div class="left"></div>
              <div class="bottom"></div>
              <div class="right"></div>
          </button>
          </a>
          <a href="./accessories.html">
              <button class="boton-nav text-white">
                  <span>Accessories</span>
                  <div class="top"></div>
                  <div class="left"></div>
                  <div class="bottom"></div>
                  <div class="right"></div>
              </button></a>
          <a href="./aboutUs.html">
              <button class="boton-nav text-white">
                  <span>About us</span>
                  <div class="top"></div>
                  <div class="left"></div>
                  <div class="bottom"></div>
                  <div class="right"></div>
              </button>
          </a>


       </nav>
       <a v-if="buyer == ''" class="log-in-boton" href="./login.html">Sign in</a>
       <a v-if="buyer != ''" class="log-in-boton" v-on:click="logOut()" href="#">Log out</a>

       
       <a href="./cart.html"><img class="carrito-nav-imagen"  src="./assets/img/carrito.gif" alt=""></a>
      </div>
      </div>
      <div class="titulophones"><img class="titulophones" src="./assets/img/titulophones.gif" alt=""></div>
<!-- Start publicidad 3d  -->
 <!--        <section id="dcel">
          <canvas id="canvas3d"></canvas>
    <a class="logo" href="https://spline.design"></a>
 
    <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
    <script type="importmap">
      {
        "imports": {
          "@splinetool/runtime": "https://unpkg.com/@splinetool/runtime@0.9.144/build/runtime.js"
        }
      }
    </script> -->
    <canvas class="celularGirando" id="canvas3d"></canvas>
    <a class="logo" href="https://spline.design"></a>
    <!-- Import maps polyfill -->
    <!-- Remove this when import maps will be widely supported -->
    <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
    <script type="importmap">
      {
        "imports": {
          "@splinetool/runtime": "https://unpkg.com/@splinetool/runtime@0.9.144/build/runtime.js"
        }
      }
    </script>
        </section>
       
        <div class="d-flex  " id="consolasdd">

       <!--  <section id="colsolass">
          <div id="sumario_1|html" class="mod-html">
            <a name="sumario_1"></a>
            <div class="sketchfab-embed-wrapper"><iframe width="600" height="300" title="A 3D model" src="https://sketchfab.com/models/54810f0b23a441ca93f44a8b06ec937b/embed?autostart=1&amp;preload=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            
            </div>
            </div>
        </section>
        <section id="consolass">
          <div id="sumario_2|html" class="mod-html">
            <a name="sumario_2"></a>
            <div class="sketchfab-embed-wrapper"><iframe width="600" height="300" title="A 3D model" src="https://sketchfab.com/models/49138c28de334c84955719ffcb4e7aab/embed?autostart=1&amp;preload=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=0&amp;ui_watermark_link=0" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
            </div>
        </section> -->
        </div>
  
<!-- Start cards product Area --> 
        <section class="containercards_products mt-5 " >
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                  <div class="head fw-bolder">Browse Categories</div>
                  <ul class="main-categories">
                    {{filtroPorModelo}}
                  <!--   {{filtroPorRam}} -->
                    {{filtroPorProcesador}}
                  <!--   {{filtroPorColor}} -->
                    <li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
                         class="lnr lnr-arrow-right"></span>Models<span class="number">({{modelos.length}})</span></a>
                      <ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
                        <li v-for="modelo in modelos" class="main-nav-list child"><input v-model="modeloSeleccionado" class="pixel-radio" type="checkbox" :id="modelo" :name="modelo" :value="modelo">{{modelo}}</input></li>                     
                      </ul>
                    </li>
                   <!--  <li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="meatFish"><span
                         class="lnr lnr-arrow-right"></span>RAM<span class="number">({{ram.length}})</span></a>
                      <ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
                        <li v-for="r in ram" class="main-nav-list child"><input v-model="ramSeleccionada" class="pixel-radio" type="checkbox" :id="r" :name="r" :value="r">{{r}}<span class="number"></span></input></li>
                  
                      </ul>
                    </li> -->
                  
                    <li class="main-nav-list"><a data-toggle="collapse" href="#beverages" aria-expanded="false" aria-controls="beverages"><span
                         class="lnr lnr-arrow-right"></span>Processor<span class="number">({{procesador.length}})</span></a>
                      <ul class="collapse" id="beverages" data-toggle="collapse" aria-expanded="false" aria-controls="beverages">
                        <li v-for="p in procesador" class="main-nav-list child"><input v-model="procesadorSeleccionado" class="pixel-radio" type="checkbox" :id="p" :name="p" :value="p">{{p}}</input></li>
                   
                      </ul>
                    </li>
                    <!-- <li class="main-nav-list"><a data-toggle="collapse" href="#homeClean" aria-expanded="false" aria-controls="homeClean"><span
                         class="lnr lnr-arrow-right"></span>Color<span class="number">({{color.length}})</span></a>
                      <ul class="collapse" id="homeClean" data-toggle="collapse" aria-expanded="false" aria-controls="homeClean">
                        <li v-for="c in color" class="main-nav-list child"><input v-model="colorSeleccionado" class="pixel-radio" type="checkbox" :id="c" :name="c" :value="c">{{c}}</input></li>
             
                      </ul>
                    </li> -->                  
                  </ul>
                </div>
                <div class="sidebar-filter mt-50">
                  <div class="top-filter-head fw-bolder">Product Filters</div>
                  <div class="common-filter">
                    {{filtrarPhonesPorMarca}}
                    
                      <li class="listbrands">
                        <a class="abrands" data-toggle="collapse" href="#BRANDS" aria-expanded="false" aria-controls="BRANDS">
                        <span class="titulobrands ">BRANDS </span><span class="numberbrands">({{marcas.length}})</span><span class="material-symbols-outlined">
                          expand_more
                          </span></a>
                     <ul class="collapse" id="BRANDS" data-toggle="collapse" aria-expanded="false" aria-controls="BRANDS">
                      <li v-for="marca in marcas"  class="filter-list"><input v-model="marcaSeleccionada"  class="pixel-radio" type="checkbox"   :id="marca"  :name="marca" :value="marca"><label class="text-white" for="apple">{{marca}} <span>{{"(" + phonesCompletos.filter(phone => marca.includes(phone.brand)).length + ")"}}</span></label></li>
                     </ul>
                   </li>
                  
                  </div>
                 <!--  <div class="common-filter">
                    <div class="head">Color</div>
                    <form action="#">
                      <ul>
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
                            Leather<span>(29)</span></label></li>
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
                            with red<span>(19)</span></label></li>
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                      </ul>
                    </form>
                  </div> -->
                  <div class="common-filter">
                    {{filtroPorPrecio}}
                    {{filtrarPorPalabra}}
                    <label for="customRange3" class="form-label text-white">Example range</label>
                    <input  v-model="rangoDePrecio" type="range" class="form-range" :min="precioMinimo" :max="precioMaximo" step="0.5" id="customRange3" data-slider-id="custom" >
                    <div class="d-flex justify-content-between">
                      <p class="text-white">{{new Intl.NumberFormat('in-EU', { style: 'currency', currency: 'USD'}).format(rangoDePrecio)}} </p>
                      <p class="text-white">{{new Intl.NumberFormat('in-EU', { style: 'currency', currency: 'USD'}).format(precioMaximo)}}  </p>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center justify-content-center mb-4">
                  <div class="sorting">
                    <input v-model="buscador" type="text" name="" class="inputFields" placeholder=" Search">
                    <button class="boton-de-la-lupa"> <img class="lupa" src="./assets/img/lupa" alt=""></button>
                  </div>
                  <div class="sorting mr-auto ">
                    <!-- <button class="btn btn-outline-dange  text-white dropdown-toggle fw-bolder" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort By:
                    </button> -->
                  <!--   <div class="dropdown ">
                      <ul class="dropdown-menu dropdown-menu-danger" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Highest price firts</a></li>
                        <li><a class="dropdown-item" href="#">lowest price firts</a></li>
                      </ul>
                    </div> -->
                  </div>
               
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                  <div id="contenedor-phones" class="row ">
                    <!-- single product -->
                       <!-- single product -->
                       <div v-for="phone in phones" class="col-lg-4 col-md-6 " id="containercard">

                        <div class="card">
                          <header class="card__header">
                            <img class="container align-items-center"
                            :src="phone.phoneImageAndColorDTOS[0].linkImage[0]" alt="">
                            <div class="thumb"></div>
                            <div class="mask"></div>
                            <div class="category d-flex gap-2">
                              <span>{{phone.brand}}</span>
                              <span v-for="rom in phone.rom"> {{rom}} gb</span>
                            </div>
                            <div class="after">
                              <div class="square"></div>
                              <div class="tri"></div>
                            </div>
                          </header>
                          <div class="card__body">
                            <h1 class="title text-center">
                              {{phone.model}}
                            </h1>
                            <p class="description">
                              {{phone.cameraDescription}}
                            </p>
                            <h2 class="subtitle text-danger d-flex justify-content-between">
                              <p>{{new Intl.NumberFormat('in-EU', { style: 'currency', currency:
                                'USD'}).format(phone.price)}} </p>
                              <p class="l-through"> {{new Intl.NumberFormat('in-EU', { style: 'currency', currency:
                                'USD'}).format(phone.price * 1.1)}}</p>
                            </h2>
                          </div>
                          <footer class="card__footer">
                            <button @click="agregarAlCarrito(phone.id)" id="buttoncart" class="share"> <span>ADD</span></button>
      
                            <a :href="'./details-Phone.html?id=' +phone.id" class="site">
                              <button id="bseemore">
                                <p>Details</p>
                                <svg stroke-width="4" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
                                </svg>
                            </button>
                            </a>
                          </footer>
                        </div>
                      </div>
      </div>
                   

                  </section>
                <!-- End Best Seller -->
            
              </div>
            </div>
          </div>
        

        </section>

    </main>

    
    <footer >
      <section class="discoverMore">
          <!-- <div class="svg-wrapper">
              <svg height="60" width="350" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape1" height="60" width="350" />
                <rect class="shape2" height="60" width="350" />
                <div class="text"><a href="#" class="d-flex justify-content-center">DISCOVER MORE</a></div>
              </svg>
             
              <div  class="d-flex justify-content-center"> <img src="./assets/img/logo.png"> </div> -->
              <button class='glowing-btn'><span class='glowing-txt'><a href="#">DISCOVER MORE</span></a></button>
            </div>
      </section>
      <div class="footer-section d-flex align-items-center justify-content-center contenedorIconos"> 
          <a href="#"><img src="./assets/img/icono3.gif" class="iconosMedia r"></a>
          <a href="#"><img src="./assets/img/icono1.gif" class="iconosMedia" ></a>
          <a href="#"><img src="./assets/img/icono2.gif" class="iconosMedia"></a>
         
      </div>
      <p class="menuFooter"><a href="#">HOME</a> <a href="#">STORE</a> <a href="#">CONTACT</a></p>
     

  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>  
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init({ duration: 3000, });</script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script><script  src="./assets/JS/cardsphones.js"></script>
    <script type="module" src="./assets/JS/3dcel.js"></script>
     <script src="./assets/JS/phones.js"></script>
</body>

</html>