@media screen and (max-width:1392px){
    .contenedormenu{
        width: 80% !important;

    }

}
@media screen and (max-width:1100px){
    .contenedormenu{
        width: 100% !important;

    }

}
@media screen and (max-width:766px){
    .contenedormenu{
        width: 100% !important;
        justify-content: center;
        align-items: center;
        margin: 0 !important;

    }
    nav{
       flex-direction: column !important;
       gap: 5px;
       margin-top: 2rem;
       justify-content: center;
       align-items: center;
    }
    .btnCards{
        margin: 0 !important;
    }

}